body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    background: url('daniele-franchi-WyJ0rahs_2k-unsplash.jpg');
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
}

.clock{
    display: flex;

}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background: rgb(77, 71, 71);
    opacity: .8;
    color: rgb(241, 245, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0 ,0.3);

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(173, 246, 173);
    opacity:0.8 ;

}

.clock #ampm{
    bottom: 0;
    position: relative;
    width: 60px;
    height: 30px;
    font-size: 20px;
    /* background-attachment: 
    ; */
    background: rgb(173, 236, 236);
}